#a {
    display: block;
    width: 500px;
    height: 2000px;
    clear: both;
    background-color: aquamarine;
}
#b {
    display: block;
    width: 500px;
    height: 2000px;
    clear: both;
    background-color: aquamarine;
}